<div id="menu" >
  <ul style="list-style-type: none">
    <li><%= link_to "Show All Games", games_path %></li>
    <li><%= link_to "Random Game", random_unplayed_games_path %></li>
    <li><%= link_to "Add New Game", new_game_path %></li>
  </ul>
  
</div>
