<div class="text-center bg-custom" >
    <div class="container" id="menu-page">
        <h1 class="mt-5" >Welcome to Game Night!</h1>

        <p class="text-muted">Choose an option from the menu below</p>
        <%= render 'menu' %>
    </div>
</div>
